body {
	font-family: Arial, serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	color: #333;
}

h1 {
	margin: 0;
	padding: 20px;
	font-weight: bold;
	text-align: center;
	background-color: #333;
	color: #fff;
	text-shadow: 1px 1px #000;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ddd;
}

form label {
	margin-right: 10px;
	font-weight: bold;
}

form input[type="text"], form select {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #eee;
	color: #333;
}

form input[type="submit"] {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ddd;
}

th, td {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

thead {
	background-color: #333;
	color: #fff;
}

tbody tr:hover {
	background-color: #f5f5f5;
}

tbody td:last-child {
	text-align: center;
}

